#head{
    display: flex;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    margin-bottom: 35px;
    height: 58px;
    align-items: center;
    border-radius: 15px;
    background-color: #F5F5F5;
    width: 88vw;
}
#explanation{
    height: fit-content;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.7);
    background-color: #F5F5F5;
    border-radius: 15px;
    margin-bottom: 25px;
    width: 87.5vw;
    padding-bottom: 90px;
}
#explanation img{
    padding: 25px;
    width: 30%;
    margin-left: 30%;
}
#explain{
    padding: 35px;
    margin-top: 35px;
    
}
main{
    background-color: #F5F5F5;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}
.home img{
    width: 25px;
    padding-bottom: 5px;
}
.slash{
    margin-left: 8px;
    margin-right: 8px;
    color: gray;
}
.section {
    padding: 60px 0;
}
.section-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}
.team-grid {
    display: grid;
    grid-template-columns: 1.8fr 1.8fr 1.8fr 1.8fr 1.8fr 1.8fr ;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
    column-gap: 2rem;
    row-gap: 4rem;
    grid-template-areas: 
    ". . _1 _1 . ."
    "_11 _11 _10 _10 _12 _12"
    "_2 _2 _3 _3 _4 _4"
    "_5 _5 _6 _6 _7 _7"
    ". _8 _8 _9 _9 .";
    margin-left: 10px;
}
.team-member {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s;
    width: 329px;
}
.team-member:hover {
    transform: translateY(-5px);
}
.team-member img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.team-member-info {
    padding: 20px;
    text-align: center;
}
.team-member-name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
.team-member-position {
    color: #666;
}
#_1{
    grid-area: _1;
}
#_2{
    grid-area: _2;
}
#_3{
    grid-area: _3;
}
#_4{
    grid-area: _4;
}
#_5{
    grid-area: _5;
}
#_6{
    grid-area: _6;
}
#_7{
    grid-area: _7;
}
#_8{
    grid-area: _8;
}
#_9{
    grid-area: _9;
}
#_10{
    grid-area: _10;
}
#_11{
    grid-area: _11;
}
#_12{
    grid-area: _12;
}