footer{
    height: fit-content;
    background-color: #588157;
    padding-bottom: 10px;
}
#profil_kontak{
    display: flex;
}
#profil_kontak a{
    color: #FFFFFF;
    text-decoration: none;
}
.profil h5{
    color: #FFFFFF;
    margin-top: 10px;
    padding-top: 20px;
}
.profil p{
    color: #FFFFFF;
    width: 35vw;
}
.kontak{
    margin-left: 200px;
}
.kontak h5{
    color: #FFFFFF;
    margin-top: 10px;
    padding-top: 20px;
}
.kontak p{
    color: #FFFFFF;
}